table {
  height: 1150px;
  width: 700px;
  border: 3px solid black;
}
tr {
  border: 3px solid black;
}
td {
  border: 3px solid black;
}
#row1 {
  border: 50px;
  height: 50px;
}
#iframe_content {
  width: 100%;
  height: 100%;
}
#content {
  width: 400px;
  align-items: center;
}
.content_button {
  height:30px;
  width:60px;
}
#last_row {
  width: 100px;
  padding-left: 10px;
}
p.test {
  width: 10px;
}
#row1 {
  color: red;
  text-align:center;
  font-size: 60px;
  background-color: black;
  }

#row2 {
  color: green ;
width:15%;
padding-left: 10px;

}
#left_row {
  background-color: #e5ff00;
}
